* {
    margin: 0;
    padding: 0;
}
.banner {
    background-color: #25f50af3;
    color: #000000;
    padding: 2px;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}
#lista-home {
    background-color: #4ffc0bd2;
    padding: 10px;
}
#lista-home ul{
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #000000;
    font-family: 'Comfortaa', cursive;
}

ul {
    list-style: none;
}
section {
    margin-bottom: 15px;
}